*.terese~
terese/Makefile
terese/Makefile.in
terese/aclocal.m4
terese/autom4te.cache/
terese/compile
terese/config.guess
terese/config.h
terese/config.h.in
terese/config.log
terese/config.status
terese/config.sub
terese/configure
terese/depcomp
terese/install-sh
terese/libtool
terese/ltmain.sh
terese/missing
terese/src/.deps/
terese/src/Makefile
terese/src/Makefile.in
terese/src/aliases-dialog.o
terese/src/box-tree-view.o
terese/src/box.o
terese/src/class-tree-view.o
terese/src/clusterer.o
terese/src/custom-drawing-area.o
terese/src/font-box.o
terese/src/font.o
terese/src/image.o
terese/src/main.o
terese/src/page-tree-view.o
terese/src/page.o
terese/src/project.o
terese/src/style-tree-view.o
terese/src/terese
terese/src/terese.o
terese/src/unigram.o
terese/stamp-h1

